.mail_sidebar {
    width: 60px;
    height: 100vh;
    background: var(--sidebarBackground);
  }
  
  .mail_sidebar_expanded {
    width: 250px;
  }
  
  .mail_sidebar_search {
    height: 40px;
    background: rgba(68, 174, 255, 0.3);
    padding: 0px 15px 0px 20px;
    display: flex;
    align-items: center;
  }
  
  .mail_sidebar_search input {
    height: 100%;
    width: 85%;
    background: transparent;
    border: none;
  }
  
  .mail_sidebar_tree {
    display: flex;
    align-items: center;
  }
  
  .mail_sidebar_tree {
    width: 100%;
  }
  
  .sidebar_tree_level_1 {
    width: 100%;
  }
  .sidebar_tree_action {
    padding: 15px 20px;
    font-size: 1.2em;
    cursor: pointer;
    align-items: center;
    display: flex;
  }

  .sidebar_tree_level_2 .sidebar_tree_menu {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0px;
    margin-bottom: 5px;
  }
  
  .sidebar_tree_level_2 .sidebar_tree_menu span:nth-child(1) {
    margin-left: 15%;
  }
  
  .sidebar_tree_level_2 .sidebar_tree_menu span:nth-child(2) {
    margin-right: 25px;
    color: var(--messageCountColor);
    font-weight: 500;
  }
  
  .sidebar_tree_level_2 .sidebar_tree_menu:hover {
    background: var(--navHover);
    cursor: pointer;
  }